p<html>
    <body>
        <!-- <form action="http://schoologyauth.foresthills.edu/userAuth.php" method="post"> -->
        <form action="/login" method="post">
            <br>
            Name: <input type="text" name="username" id="username"></input>
            <br>
            Password: <input type="password" name="password" id="password"></input>
            <br>
            <input type="submit" value="Submit"></input>
        </form>
        <br>
        <br>
        By logging in, you agree and accept the terms of the <a href='/static/EULA.txt'>End User License Agreement</a>
    </body>
</html>